h1 {
    color: rgb(75, 24, 55);
    text-shadow: 2px 2px 4px rgba(20, 13, 18, 0.5);
}

h2 {
    color: rgb(163, 19, 127);
    text-shadow: 2px 2px 4px rgba(48, 5, 29, 0.5);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: 3e363f;
    padding-top: 70px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #bbadb5;
    box-shadow: 0 0 5px rgba (0, 0, 0, 0.1);
}

.menu-item {
    text-decoration: none;
    color: #330320;
    text-shadow: 2px 2px 4px rgba(49, 9, 39, 0.5);
    padding: 10 px;
    margin: 5px;
    display: inline-block;
}

.menu-item:hover {
    text-decoration: underline;
    background-color: #ddd;
    transition: all 0.4s ease-in-out;
}

header {
    background-color: #ebdbdb; 
    color: #fff; /*color de fondo del encabezado*/
    box-shadow: 0px 5px 10px rgb(75, 24, 55);
    text-align: center;
    padding: 40px;
    margin-bottom: 40px;
}

section {
    padding: 5px;
    border: 1px, solid #ddd;
    margin-bottom: 5px;
}

#acerca-de-mí {
    text-align: justify;
}

#habilidades ul {
    list-style: none;
    padding: 0;
}

#habilidades li {
    display: inline-block;
    padding: 5px;
    border: 1px solid #e9acd2;
    border-radius: 5px;
    margin-right: 5px;
}

#experiencia ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#experiencia li {
    margin-bottom: 5px;
}

#proyectos-ejecutados ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#proyectos-ejecutados ul li a {
    text-decoration: none;
    color: #333;
}

#proyectos-ejecutados a:hover {
    text-decoration: underline;
}
#contacto-form {
    margin: 0 auto;
    width: 500px;
}

#contacto-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

#contacto-form textarea {
    height: 100px;
}

#contacto-form-input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

#sociales {
    list-style: none;
    padding: 0;
    margin-top: 5px;
}

#sociales li {
    list-style: none;
    display: inline-block;
    padding: 5px;
}

.fa {
    text-decoration: none;
    color: #420828;
    margin-left: 0px;
}

.fa:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}